# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
*.log

# Unity Project Cache & Temp Files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
Recordings/
unity/**/[Ll]ibrary/
unity/**/[Tt]emp/
unity/**/[Oo]bj/
unity/**/[Bb]uild/
unity/**/[Bb]uilds/
unity/**/[Ll]ogs/
unity/**/[Uu]serSettings/
unity/**/[Mm]emoryCaptures/
unity/**/*.log

# OS Generated
.DS_Store
Thumbs.db
